<template name="networkData">
    <h2>Current Network:</h2>
    <table class="network-data">
        <tr>
            <th>Network Name:</th>
            <td>
                {{#if currentNetwork}} {{currentNetwork.ssid}} {{/if}}
            </td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>
                {{#if currentNetwork}} {{currentNetwork.status}} {{/if}}
            </td>
        </tr>
        <tr>
            <th>Wireless ID:</th>
            <td>
                {{#if currentNetwork}} {{currentNetwork.bssid}} {{/if}}
            </td>
        </tr>
    </table>
    <div class="row" style="margin-top:30px;">
        <div class="col-md-6 col-md-offset-3">
            <a href="{{pathFor 'login'}}">
                <div class="btn continue-btn">Continue</div>
            </a>
        </div>
    </div>
</template>