<template name="topMenu">
    <div class="topMenu">
        <div class="relative">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 topMenuStep" id="topMenuStep_1">
                        <div class="row">
                            <div class="col-md-12 text-center number">
                                <div class="circle">
                                    1
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Connect to network
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 topMenuStep" id="topMenuStep_2">
                        <div class="row">
                            <div class="col-md-12 text-center number">
                                <div class="circle">
                                    2
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Loggin into RLA
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 topMenuStep" id="topMenuStep_3">
                        <div class="row">
                            <div class="col-md-12 text-center number">
                                <div class="circle">
                                    3
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Rename your camera
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>